<h1><%= link.keyword %> Link</h1>
<p>
  <b>URL:</b>
  <%= link.url %>
</p>

<p>
  <b>Shortcut:</b>
  <% middle = port == 80 ? "" : ":#{port}" %>
  <%= "#{host}#{middle}/#{link.keyword}" %>
</p>

<p>
  <b>Hits:</b>
  <%= link.hits %>
</p>

<p>
  <b>Created On:</b>
  <%= link.created_on.strftime('%A, %B %e, %Y') %>
</p>
